{%	extends	"abase.html"	%}
{%	block	title	%}Create	an	account{%	endblock	%}
{%block style%}

{%endblock%}
{%	block	content	%}
<div class="mx-2 my-2" align="center">
    {% if messages %}
  
    {%	for	message	in	messages	%}						
    <p style="color: white;">{{	message	}}</p>								
                                      
                      
      {%	endfor	%}		

    {%	endif %}
    
    </div>
    
       
                      	


   
    <div class="card-body">
      <div class="form">
      <h2 align="center"> Sign Up  Form</h2><br>
      <form class="login-form" method="POST" action="{% url 'register'%}" enctype="multipart/form-data">
        
        <input type="text" name="username" placeholder="Username"required/>
        <input type="text" name="first_name"placeholder="First Name" required/>
        <input type="text" name="last_name" placeholder="Last Name" required/>
        <input type="email" name="email" placeholder="email address"required/>
        <input type="password" name="password" placeholder="password" required/>
        <input type="password" name="password1" placeholder="confirm password" required/>
        <input type="number"  name="age" placeholder="age">
        Doctor:<input type="radio" name="role" value="doctor"/>
        Patient:<input type="radio" name="role" value="patient"/>
      
      

        <button type="submit" >Sing up</button>
        
        {%	csrf_token	%}
      </form>
    </div>
</div>


        {%endblock%}